/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: #f4f4f4;
  color: #333;
}

header, section, footer {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px #ccc;
}

h1, h2 {
  color: #317efb;
}

a {
  color: #317efb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
